<!--  -->
<mat-toolbar  style="max-width: 1200px; margin: auto;" color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Responsive App</h1>
</mat-toolbar>

<mat-sidenav-container  style="max-width: 1200px; margin: auto;" class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav  class="app-container-width" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a routerLinkActive="active-link" style="font-family: 'Pacifico', cursive;color: #3f51b5" mat-list-item routerLink="/" >Material Form</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- Routed components go here -->
  </mat-sidenav-content>
</mat-sidenav-container>