.example-card {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.example-full-width {
  width: 100%;
}

.award-card{
  width: 25%;
  margin: 0.875rem;
  cursor: pointer;
}